{% extends 'base.html.twig' %}

{% block title %}
    <title>Bookings Application </title>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="screen" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/base.css">
{% endblock %}

{% block body %}
    {{ include('bookings/header.html.twig') }}

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
    {{ include('bookings/footer.html.twig') }}
{% endblock %}